.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1024px) {
  .container {
    max-width: var(--container-xl);
    margin: 0 auto;
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }
}